<div id="greeting">
    <h3>{{greeting}}, {{userInfo.username}}</h3>
</div>
<div class="profile">
    <div id="avatar">
        <img src="{{imageUrl}}">
    </div>
    <div id="content">
        <div class="profile-info">
            <div class="profile-label">
                <h4 class="content-box">Name:</h4>
            </div>
            <div class="profile-text">
                {{userInfo.name}}
            </div>
        </div>
        <div class="profile-info">
            <div class="profile-label">
                <h4 class="content-box">Email:</h4>
            </div>
            <div class="profile-text">
                {{userInfo.email}}
            </div>
        </div>
        <div class="profile-info">
            <div class="profile-label">
                <h4 class="content-box">Member since:</h4>
            </div>
            <div class="profile-text">
                {{memberSince}}
            </div>
        </div>
    </div>
</div>