<div id="greeting">
    <h3>{{greeting}}, {{userInfo.username}}</h3>
</div>
<div class="profile">
    <div id="avatar">
        <img src="{{imageUrl}}">
    </div>
    <div id="content">
        <table>
            <tr class="spaceUnder">
                <td class="spaceRight"><h4>Name:</h4></td>
                <td><h5>{{userInfo.name}}</h5></td>
            </tr>
            <tr class="spaceUnder">
                <td class="spaceRight"><h4>Email:</h4></td>
                <td><h5>{{userInfo.email}}</h5></td>
            </tr>
            <tr class="spaceUnder">
                <td class="spaceRight"><h4>Member since:</h4></td>
                <td><h5>{{memberSince}}</h5></td>
            </tr>
        </table>
    </div>
</div>