<tr class="splitItems">
    <td><img src="{{imageUrl}}"></td>
    <td>{{title}}</td>
    <td>{{price}} lv</td>
    <td>
        <form action="/cart-update" method="post">
            <button class="cart-items-btn" type="button">-</button>
            <input class="cart-quantity-box" type="number" required="required" value="{{quantity}}">
            <button class="cart-items-btn" type="button">+</button>
            <input class="cart-items-btn" type="submit" name="commit" value="Change">
        </form>
    </td>
    <td>{{total}} lv</td>
</tr>