<article class="view-categories">
    <div class="view-category">
        <div class="ticket-img">
            <img src="{{imageUrl}}">
        </div>
        <div class="category-text">
            <h4>{{title}}</h4>
            <span>{{description}}</span>
        </div>
        <div class="category-btns">
            <button type="button" class="btn btn-info btn-sm btn-edit" data-id="{{_id}}">Buy now</button>
            <button type="button" class="btn btn-warning btn-sm btn-details" data-id="{{_id}}">Details</button>
            <button type="button" class="btn btn-danger btn-sm btn-delete" data-id="{{_id}}">Delete</button>
        </div>
    </div>
</article>