<div class="details-img">
    <img src={{ticket.imageUrl}}>
</div>
<div class="details-info">
    <span><h2>Title:</h2> {{ticket.title}}</span>
    <span><h2>Description:</h2> {{ticket.description}}</span>
    <span><h2>Location:</h2> {{ticket.location}}</span>
    <span><h2>Date:</h2> {{ticket.dateAndTime}}</span>
    <span><h2>Price:</h2> {{ticket.price}}lv</span>
    <span><h2>Availability:</h2> {{ticket.availability}}</span>
    <span><a type="button" href="#/tickets" class="btn btn-success btn-lg">Back</a></span>
</div>